* {
    border: none;
    /* `ttf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainMono Nerd Font Bold";
    /* adjust font-size value to your liking: */
    font-size: 14px;
  }
  
  window#waybar {
    background: rgba(0,0,0,0.9);
    color: #ffffff;
    padding: 0px; 
    margin: 0px;
  }
  

  #workspaces button {
    color: #ffffff;
  }
  
  #workspaces button.active {
    color: #1e1e2e;
    background-color: #cdd6f4;
  }
  
  #workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e1e2e;
    background-color: #cdd6f4;
  }
  
  #workspaces button.urgent {
    background-color: #f38ba8;
  }
 
  #memory,
  #cpu,
  #custom-power,
  #custom-brightness,
  #battery,
  #pulseaudio,
  #network,
  #clock,
  #tray{
    padding: 5px 
  }
  #custom-power {
    margin-right: 6px;
  }
  #memory {
    background-color: #000000;
    color: white;

  }
  #cpu {
    background-color: #000000;
    color: white;
  }
  
  #pulseaudio {
    background-color: #000000;
    color: white;
  }
  
  #network {
    background-color: #000000;
    color: white;
  }
  
  #clock {
    background-color: #000000;
    color: white;
  }
  
  #custom-power {
    background-color: #000000;
    color: white;
  }
  #custom-brightness {
    background-color: #000000;
    color: white;
  }
