* {
    border: none;
    font-family: "JetBrainMono Nerd Font";
    font-weight: bold;
    font-size: 14;
    border-radius: 0;
    margin: 0px;
    padding: 0px;
    min-height: 0;  
}
  
  window#waybar {
    background: rgba(0,0,0,0.9);
    color: #ffffff;
  }
  

  #workspaces button {
    color: #ffffff;
  }
  
  #workspaces button.active {
    color: #000000;
    background: #cdd6f4;
  }
  
  #workspaces button:hover {
    color: #000000;
    background-color: #cdd6f4;
  }
  
  #workspaces button.urgent {
    background-color: #f38ba8;
  }
 
  #memory,
  #cpu,
  #custom-power,
  #custom-brightness,
  #battery,
  #pulseaudio,
  #network,
  #clock,
  #tray{
    margin-right: 10px;
  }
  #custom-power {
    margin-right: 6px;
  }
  #memory {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  #cpu {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  
  #pulseaudio {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  
  #network {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  
  #clock {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  
  #custom-power {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  #custom-brightness {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
