* {
    border: none;
    font-family: "JetBrainMono Nerd Font Bold";
    font-size: 14px;
    min-height: 0;
    padding: 0px; 
    margin: 0px;
    border-radius: 0px;
  }
  
  window#waybar {
    background: rgba(0,0,0,0.9);
    color: #ffffff;
    padding: 10px; 
  }
  #workspaces button {
    color: #ffffff;
  }
  
  #workspaces button.active {
    color: #1e1e2e;
    background-color: #cdd6f4;
  }
  
  #workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e1e2e;
    background-color: #cdd6f4;
  }
  
  #workspaces button.urgent {
    background-color: #f38ba8;
  }
 
  #memory,
  #cpu,
  #custom-power,
  #custom-brightness,
  #battery,
  #pulseaudio,
  #network,
  #clock,
  #tray{
    margin-right: 6px;
  }
  #custom-power {
    margin-right: 6px;
  }
  #memory {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  #cpu {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  
  #backlight{
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  #battery{
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  #pulseaudio {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  
  #network {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  
  #clock {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  
  #custom-power {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
  #custom-brightness {
    background-color: #000000;
    color: white;
    margin-right: 10px;
  }
